body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  text-align: center;
}
body, a:link, a:visited, a:active{
  color: lightblue;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
  font-size: 20px;

}
.title, .addDancerButton{
  margin-top: 20px;
  padding:5px 15px;
  font-family: 'IM Fell DW Pica', serif;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  text-shadow: 0 0 10px #33cccc;
/*  float:right;*/
}
.credits{
  font-size: 10px;
  margin-top: 5px;
  padding:5px;
}

.topbar{
  height:30px;
  text-align: center;
  margin-top: 20px;
  
}
.particles {
  width: 100%;
  height: 100%;
}
.dancer{
  position:absolute;
  width:90px;
}
.fatDancer{
  position:absolute;
  width:80px;

}
.skinnyDancer{
  position:absolute;
  width:50px;
}

.something{
  width: 500px;
}

.lineUpButton {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  text-shadow: 0 0 10px #33cccc;
}
.remove{
  display:none;
}